:root {
  --primary-light-blue: #39cdcc;
  --primary-darker-blue: #545f7d;
  --primary-white: #ffffff;
  --primary-dark-yellow: #e9b200;
  --dark-blue-with-opacity: rgba(33, 63, 125, 0.2);
  --primary-dark-blue: #213f7d;
  --primary-dark-red: #e4033b;
  --primary-light-green: #39cd62;
}
