.auth-nav {
  width: 100%;
  position: absolute;
  background: white;
  padding: 2.5rem 0 0 5rem;
}
.big-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  align-items: center;
  //   background-color: red;
}

.auth-illustration {
  padding: 0 20px;
  margin: auto;
}

.auth-form {
  z-index: 10px;
  margin: auto 10px;
}

.auth-form .form {
  padding: 0 1.25rem;
  width: 100%;
  max-width: 440px;
}

.auth_form--header {
  font-family: avenirnext-bold, sans-serif;
  font-size: 2.5rem;
  line-height: 55px;
  font-weight: 700;
}

.auth_form--subheader {
  font-family: avenirnext-bold, sans-serif;
  font-size: 1.25rem;
  line-height: 27px;
  margin-top: 0.625rem;
}

.text-secondary {
  color: #213f7d !important;
}

.auth_form .form form {
  margin-top: 3.75rem;
}

form {
  display: block;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  font-size: 0.875rem;
  height: 50px;
  padding: 0.375rem 1.25rem;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
}

.form-control input[type="text"]:focus,
input[type="text"]:valid {
    border: 2px solid #39cdcc;
}
.auth_form .form form .password-field {
  position: relative;
}

.auth_form .form form .password-field button {
  position: absolute;
  right: 0;
  top: -28px;
  font-size: 0.75rem;
}

.auth_form .form form button {
  margin-top: 1.875rem;
  height: 50px;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.btn {
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  border-image: none !important;
  -webkit-appearance: none !important;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

.btn-link {
  color: #39cdcc;
  text-decoration: none;
}

.auth_form .form form .forgot-btn {
  margin-top: 1.5rem;
}

.forgot-btn {
  display: flex;
  justify-content: space-between;
}

.auth_form .form form .forgot-btn .btn-ref {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
}

a {
  background-color: transparent;
  cursor: pointer;
}

.auth_form .form form button {
  margin-top: 1.875rem;
  height: 50px;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  color: #fff !important;
  padding: 10px;
  background-color: #39cdcc;
  border-color: #39cdcc;
}

@media (max-width: 1199.98px) {
  .auth_form .form {
    margin-left: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .auth_illustration {
    display: none;
  }
}
